@model ProjetoCrud_.Models.Avaliacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de sua avaliação</h1>

<div>
    <h4>Avaliação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ouser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ouser)
        </dd>
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aoperadora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aoperadora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avaliação)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avaliação)
        </dd>
    </dl>
</div>
<div><br />
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a Listagem</a>
</div>

